# Xcode
*.xcworkspace
*.xcuserdata
*.xccheckout
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcodeproj/*.pbxuser
*.xcodeproj/*.mode*

# Build
build/
DerivedData/
*.app
*.ipa
*.dSYM

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Other
.DS_Store
*.swp
*.swo
*.dat
*.log
*.xcuserstate
*.xcbkptlist
