<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOPr1OoiPnKecVkKE6hKL5rJMGcXgj2RA</string>
	<key>GCM_SENDER_ID</key>
	<string>772122575910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dreamcatcher.travelwithai</string>
	<key>PROJECT_ID</key>
	<string>travel-with-ai-aa458</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-with-ai-aa458.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772122575910:ios:ac6e2b9b4f051420fb12e7</string>
</dict>
</plist>